.jumbotron {
  background-image: url("http://www.gsfdcy.com/data/img/34/1515534-gamer-wallpaper.jpg");
  background-size: auto 100%;
}

#dropdownMenuOffset {
  background-color: black;
}

#text {
  color: white;
  font-family: 'Cinzel', serif;
}

